body {
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    /* background-color: rgb(91, 130, 164);
    border-radius: 20px;
    opacity: 0.2; */
}

.container {
    margin-top: 5em;
    height: 60vh;
    width: 1000px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--shadow-dark);
}

.upper-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.upper-data img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lower-data {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.prayer-time {
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px 20px;
}

.date {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.currentDate {
    background-color: azure;
    border-radius: 2em;
    padding: 20px;
    margin-right: 20px;
}

.currentTime {
    background-color: azure;
    border-radius: 2em;
    padding: 20px;
    margin-left: 20px;
}

.time {
    background-color: antiquewhite;
    border-radius: 1em;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

.countdown {
    display:grid;
    justify-content: center;
    margin-top: 2em;
}
